:host {
  display: flex;
  flex-flow: row;
  width: 100%;

  main {
    display: flex;
    flex-flow: column;
    width: 60%;

    h1 {
      display: flex;
      justify-content: center;
    }


    #li_creacion_alimento {
      border: 1px solid red;
      display: flex;
      flex-flow: row;
      align-items: flex-start;

      width: 100%;
      div:first-of-type {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-end;
        padding-right: 1em;
        width: 20%;
        height: 100%;
        border: 1px solid red;
      }

      div:last-of-type {
        display: flex;
        flex-flow: column;
        width: 50%;
        height: 100%;
      }

      input {
        width: 10em;
      }
    }

    #boto_add {
      width: min-content;

      border-radius: 0.2em;
      padding: 0.4em 1em;

      border-style: none;
      background-color: rgb(72, 116, 138);

      color: white;
      font-weight: 600;
    }
    #boto_add:hover {
      background-color: rgb(104, 152, 177);
      cursor: pointer;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: baseline;

      label {
        padding-right: 0.5em;
      }
      input {
      }
    }

    button {
      display: flex;
      margin-left: 1em;
      width: 12em;
    }

    ul {
      display: flex;
      flex-flow: column;

      li {
        display: flex;
        flex-flow: row;

        div:first-of-type {
          display: flex;
          padding: 0.5em;

          img {
            width: 15em;
          }
        }

        div:last-of-type {
          display: flex;
          flex-flow: column;
          width: 100%;

          width: 15em;

          h1 {
            display: flex;
            justify-content: center;
          }

          div {
            display: flex;
            flex-flow: row;
            width: auto;

            button {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 2em;
              height: 2em;

              border-radius: 0.2em;
              margin-right: 0.5em;

              border-style: none;
              background-color: rgb(72, 116, 138);

              color: white;
              font-weight: 600;
            }
            button:hover {
              background-color: rgb(104, 152, 177);
              cursor: pointer;
            }

            input {
              width: 5em;
            }
          }

          p {
            display: flex;
            justify-content: flex-end;
            padding-right: 0.5em;
          }
        }
      }
    }
  }

  aside {
    display: flex;
    flex-flow: column;
    width: 40%;

    h1 {
      display: flex;
      justify-content: center;
    }
    ul {
      display: flex;
      flex-flow: column;
      justify-items: center;
      align-items: center;

      li {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
      }
    }
  }
}
