<main>
  <h1>Listado de platos</h1>

  <form>
    <label>Search:</label>
    <input (keyup)="(true)" #inputBuscar />
  </form>

  <button (click)="this.creacio_apagat = !this.creacio_apagat">
    Add new product
  </button>

  <ng-container #foodForm *ngIf="this.creacio_apagat">
    <form
      id="li_creacion_alimento"
      (submit)="handler_add(menjar.value, calories.value, imatge.value)"
      #foodForm="ngForm"
    >
      <div id="div_formulari">
        <div>
          <label>Name:</label>
          <label>Calories:</label>
          <label>Image:</label>
        </div>

        <div>
          <input name="foodName" #menjar />
          <input name="foodCalories" #calories />
          <input name="foodImage" #imatge />
        </div>
      </div>

      <button id="boto_add" type="submit">Submit</button>
    </form>
  </ng-container>

    <ul *ngFor="let menjar of comidas | filtrarProductes: inputBuscar.value">
    <li>
      <div>
        <img src="{{ menjar.image }}" alt="" />
      </div>

      <div>
        <h1>{{ menjar.name }}</h1>

        <div>
          <button (click)="afegir(menjar)">+</button>
          <input type="text" value="{{ menjar.quantity }}" />
        </div>
        <p>Kcal: {{ menjar.calories }}</p>
      </div>
    </li>
  </ul>
</main>

<aside>
  <h1>Comida de hoy: {{ kcal_totals }}</h1>

  <!-- <ul id="lista_food"></ul> -->
  <ul *ngFor="let menjar of lista_lateral_comidas">
    <li>
      <h1>{{ menjar.name }}</h1>
      <p>Calorías: {{ menjar.calories }}</p>
      <p>Unidades: {{ menjar.quantity }}</p>
    </li>
  </ul>
</aside>
